@import '../../../styles/variables.less';

.particles {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  &__drawer {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-items: flex-end;
    color: @color-secondary;
    & &-nav {
      margin-top: 0.5rem;
      z-index: 1;
      .rs-nav-waterline {
        border-color: transparent;
      }
      .rs-nav-item-active {
        font-weight: 600;
      }
      ul {
        display: flex;
      }
      li {
        flex: 1 1 50%;
      }
      a {
        text-align: center;
        font-size: 1rem;
        color: @color-secondary !important;
        &::before {
          background-color: @color-secondary !important;
        }
      }
    }
    &-header {
      width: 20rem;
      padding: 1rem;
    }
    &-body {
      width: 20rem;
      padding: 0.5rem 0;
      height: 100%;
    }
    &-side {
      width: 0;
      transition: width ease-in-out 0.5s;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: @color-blue--lighter;
      display: flex;
      flex-direction: column;
      &--open {
        width: 20rem;
      }
      & .rs-sidenav {
        flex-grow: 1;
      }
    }
    &-form {
      height: 100%;
      & &__group {
        display: flex;
      }
      & &__label {
        width: auto !important;
        flex: 1 0 50%;
        text-align: left !important;
        margin: 0 !important;
        padding: 0 0.5rem 0 0 !important;
      }
    }
    &-button {
      flex-shrink: 0;
      border-radius: 0;
      align-self: flex-end;
      width: 3rem !important;
      height: 3rem !important;
      padding: 0 !important;
      &__icon {
        width: 3rem !important;
        height: 3rem !important;
        font-size: 1.5rem !important;
      }
      &:focus {
        background-color: @color-blue--lighter;
      }
    }
    &-tree {
      flex-shrink: 0;
      overflow-x: hidden;
      background: transparent;
      max-height: none;
      .rs-tree-node > .rs-tree-node-label::before {
        background: transparent;
      }
      .rs-tree-node > .rs-tree-node-label {
        background: transparent;
        color: @color-secondary;
        font-weight: normal;
        user-select: none;
        width: 100%;
        &:hover,
        &:focus {
          background: transparent;
          color: @color-secondary;
        }
      }
    }
    &-input {
      border: 1px solid @color-secondary !important;
      background: transparent;
      width: 4.5rem;
      input {
        background: transparent;
        color: @color-secondary;
      }
      .rs-input-number-btn-group-vertical {
        width: 1.25rem;
      }
      .rs-btn {
        border-left: 1px solid @color-secondary !important;
        color: @color-secondary;
        &:hover,
        &:active,
        &:focus {
          color: @color-blue--lighter;
        }
        &:last-child {
          border-top: 1px solid @color-secondary !important;
        }
      }
    }
    &-uploader {
      height: 1.5rem;
      width: 1.5rem;
      .rs-icon,
      img {
        margin-top: -0.125rem !important;
        height: 1.5rem !important;
        width: 1.5rem !important;
        color: @color-secondary;
        &:hover,
        &:active,
        &:focus {
          color: @color-blue--lighter;
        }
      }
    }
    &-clear {
      height: 1.5rem !important;
      width: 1.5rem !important;
      color: @color-secondary;
      padding: 0;
      margin-right: 0.25rem;
      & .rs-icon {
        height: 1.5rem !important;
        width: 1.5rem !important;
        padding: 0.125rem 0 0 0 !important;
      }
      &:hover,
      &:active,
      &:focus {
        color: @color-blue--lighter;
      }
    }
    &-range {
      flex: 1 1 50%;
      margin-top: 0.5rem;
      .rs-slider-handle {
        top: -25%;
        &::before {
          background-color: @color-blue--lighter;
          border-color: @color-secondary;
        }
      }
      .rs-slider-bar {
        background-color: transparent;
        .rs-slider-progress-bar {
          background-color: @color-secondary;
        }
      }
      .rs-slider-graduator {
        li {
          &::before,
          &::after {
            border-color: @color-blue--lighter !important;
          }
          &.rs-slider-pass {
            &::before,
            &::after {
              background-color: @color-blue--lighter !important;
              border-color: @color-secondary !important;
            }
          }
        }
      }
    }
    & &-picker {
      a {
        border: 1px solid @color-secondary !important;
        background: transparent !important;
        padding: 0.125rem 1.5rem 0.125rem 0.5rem !important;
        width: 4.5rem;
        height: 1.5rem;
        .rs-picker-toggle-placeholder,
        .rs-picker-toggle-value {
          color: @color-secondary;
          font-size: 0.75rem;
          display: block;
        }
        .rs-picker-toggle-caret {
          color: @color-secondary;
          top: 0.125rem;
          right: 0.5rem;
        }
      }
    }
    &-picker-menu {
      margin-top: 0.25rem;
      .rs-picker-select-menu-item {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
      }
    }
    &-color {
      .rsuite-color-picker {
        box-shadow: 0 0 0 1px @color-secondary;
        min-width: 1.25rem;
        min-height: 1.25rem;
        padding: 0;
        .rsuite-color-picker-review {
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          border-radius: 6px;
        }
        .rsuite-color-picker-overlay {
          right: 0;
          left: auto;
        }
      }
    }
    &-checker {
      .rs-checkbox {
        margin: 0;
        &-checker {
          padding: 0;
          min-height: auto;
        }
        &-wrapper {
          position: static;
        }
        .rs-checkbox-inner::before {
          border: 1px solid @color-secondary !important;
        }
        .rs-checkbox-wrapper::after {
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
        }
      }
    }
  }
}
