@import './variables.less';

.demo {
  position: relative;
  width: 100%;
  padding-top: 41.85%;

  &__canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__drawer-body {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    height: 15rem !important;
  }

  &__drawer {
    height: 19rem !important;
    top: 56px;
    &-backdrop {
      top: 56px;
    }
    .rs-drawer-content {
      background-color: @color-primary;
    }
  }

  &__drawer-button-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  &__drawer-button {
    font-weight: bold;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: linear-gradient(180deg, black 0%, @color-primary--darker 15%, @color-primary 100%);
    &:active,
    &:focus {
      background: linear-gradient(
        180deg,
        @color-primary--darker 0%,
        @color-primary 5%,
        @color-primary--lighter 100%
      ) !important;
    }

    transition: all ease-in-out 1s;
    &--hidden {
      visibility: hidden;
    }
  }

  &__demo-item {
    .rs-panel-heading {
      color: @color-secondary;
      font-size: 1.25rem;
      font-weight: 400;
      padding-bottom: 0.25rem;
    }
    max-width: 100%;
    width: 18rem;
  }

  &__preview {
    &.rs-panel-shaded {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 0 16px rgba(0, 0, 0, 0.06);
    }
    .rs-panel-body {
      padding: 0;
    }
  }

  &__demo-item-button {
    margin-left: 1rem;
    margin-right: 1rem;
    display: block !important;
    padding: 0 !important;
    text-align: left !important;
    line-height: normal !important;
    border-color: transparent !important;
    transition: all ease-in-out 0.25s !important;
    &:hover {
      border-color: @color-primary--lighter !important;
    }
  }
}
