@import './variables.less';

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1051;

  &__brand {
    padding: 0.5rem;
    &-logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: @color-primary;
    }
  }
}

.header {
  &--offset {
    margin-top: 56px;
  }
}
