@import './variables.less';

.playlist-menu__button() {
  background-color: transparent;
  color: @color-secondary;
  transition: all 0.25s ease-in-out;
  border-radius: 0;
  &:hover {
    background-color: @color-blue !important;
    color: @color-secondary !important;
  }
  &:active,
  &:focus {
    color: @color-secondary !important;
    background-color: @color-blue--darker !important;
  }
}

.playlist-menu {
  width: 100%;
  position: relative;
  & &__box {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  & &__header {
    border-bottom: 1px solid @color-secondary;
    display: flex;
    align-items: stretch;
    height: auto;
  }
  & &__close {
    .playlist-menu__button();
    height: auto;
    .rs-icon {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  & &__add {
    flex-grow: 1;
    .rs-uploader-trigger-btn {
      width: 100%;
      padding: 1rem;
      text-align: right;
      font-size: 0.75rem;
      .playlist-menu__button();
    }
    &-text {
      margin-left: 0.75rem;
    }
    &-loader {
      position: relative;
      .rs-loader {
        position: absolute;
        right: 0;
        bottom: -0.2rem;
      }
    }
  }
  & &__item {
    cursor: pointer;
    .rs-nav-item-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .rs-icon {
      font-size: 1.25rem;
      top: 0.8rem;
      left: 1.2rem;
    }
    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-length {
      font-size: 0.75rem;
      margin-left: 0.75rem;
    }
    &-loader {
      position: absolute;
      left: 20px;
      top: 15px;
      opacity: 0.75;
    }
  }

  .rs-loader-spin {
    &::before {
      border-color: transparent;
      border-width: 0.25rem;
      width: 1rem;
    }
    &::after {
      border-color: white transparent transparent;
      border-width: 0.25rem;
    }
  }
}

.music-player {
  background-color: @color-gray--lighter;
  width: 100%;
  max-width: 21rem;
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  z-index: 1070;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 0 16px rgba(0, 0, 0, 0.06);

  & &__button {
    position: relative;
    border-radius: 0;
    width: 100%;
    overflow: visible;
    &-icon {
      padding-right: 0.25rem;
    }
  }

  &__volume-slider {
    padding: 0 0.5rem;
  }

  &__volume-icon {
    text-align: center;
  }

  &__loader {
    position: absolute;
    top: -0.25rem;
    left: 0.5rem;
  }
}

.visualizer {
  margin: 0 auto;
  width: calc(100% - 1rem);
  max-width: 20rem;
  padding-top: 0.5rem;
  canvas {
    width: 100%;
  }
}
