@import '~rsuite/lib/styles/themes/default/index.less';
@import './fonts.less';
@import './header.less';
@import './demos.less';
@import './common.less';
@import './subnav.less';
@import './musicPlayer.less';

body {
  font-size: 16px;
}

section {
  position: relative;
}
