@import './variables.less';

.sub-navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.sub-nav {
  width: 100%;
  border-color: @color-primary;
  border-width: 0.125rem 0;
  border-style: solid;
  ul {
    display: flex;
  }
  &__item {
    flex-grow: 1;
    text-align: center;
    a {
      font-size: 6rem !important;
      padding: 1rem !important;
      height: auto !important;
      line-height: 0.75 !important;
      font-weight: lighter !important;
      color: @color-primary !important;
      font-family: Fatality, Apple-System, Arial, Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        STXihei, sans-serif;
      text-shadow: 0 0 0 @color-primary--lighter !important;
      transform: none;
      transition: all ease-in-out 0.25s !important;
      &:hover {
        background-color: inherit !important;
        text-shadow: -15px 10px 0 @color-primary--even-lighter !important;
        transform: translateX(8px) translateY(-3px);
      }
      &:focus,
      &:active {
        color: @color-primary !important;
      }
    }
  }
}
