@color-primary: #1a1d24;
@color-primary--lighter: #373d4b;
@color-primary--even-lighter: #67728a;
@color-primary--darker: #101216;

@color-blue--darker: #1675e0;
@color-blue: #2589f5;
@color-blue--lighter: #3498ff;

@color-gray--lighter: #f7f7fa;

@color-secondary: #f8f8f8;
